* {
    margin: 0;
    padding: 0;
}

.nav {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: #183D4D;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding-left: 0;
    font-family: verdana;
    font-size: 16px;
}

.nav a {
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
}

.nav__menu { 
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__menu-item {
    display: inline-block;
    position: relative;
}

.nav__menu-item:hover {
    background-color: #28425f;
}

.nav__menu-item:hover .nav__submenu {
    display: block;
}

.nav__submenu {
    text-transform: none;
    display: none;
    position:absolute;
    width: 151px;
    line-height: 1cm;
    background-color: #28425f;
    position: absolute;
    z-index: 99;
}

.nav__submenu-item:hover {
    background-color: #355E6C;
}

@media screen and (max-width: 768px){
    .nav {
        display: block;
        margin: 0 auto;
    }
    .nav__menu-item {
        display: none;
    }

    #nav__menu-item2 {
        display: block;
        text-align: center;
    }

    .nav__submenu .nav__submenu-item {
        display: none;
        text-align: center;
    }
}

/*menu de fotos*/

.cont{
    padding: 60px;
    width: 600px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
  
@media screen and (max-width: 668px){
    .cont {
        padding: 10px;
        width: 50vw;
        display: block;
        margin: 0 auto;
        justify-content: space-around;
    }
    .card {
        padding-bottom: 20px;
    }

}
  
.cont .card .face{
    width: 250px;
    height: 200px;
    transition: 0.5s;
    border-radius: 18px;
}
  
.cont .card .face.face1{
    position: relative;
    background: #637A8C;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.cont .card .face.face1 .content{
    opacity: 0.5;
    transition: 0.5s;
}
  
.cont .card:hover .face.face1 .content{
    opacity: 1;
}
  
.cont .card .face.face1 .content img{
    width: 220px;
    height: 170px;
    border-radius: 10%;
}
  

/*footer*/

footer{
    width: 100%;
    background: #183D4D;
    margin-top: 30px;
    color: white;
}

.container {
    padding: 30px;
    font-family: verdana;
    font-variant: small-caps;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

footer li {
    text-decoration: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}
.back {
    padding: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #355E6C;
    text-align: center;
    font-variant: small-caps;
}
